#V {color: red;}
.codfis, .cart, #MM {text-transform: uppercase;}
#pf {font-family: arial}

.example-icon {
padding: 0 14px;
}

.example-spacer {
flex: 1 1 auto;
}

.example-container .mat-radio-button {
margin: 0 12px;
}

.contenitore {
    background-image: url("../../assets/Immagini/illustrazione.jpg");
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    /*margin-left: auto;
    margin-right: auto;*/
}

.form {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 11px 11px 14px -1px rgb(109, 109, 109);
    -moz-box-shadow: 11px 11px 14px -1px rgb(109, 109, 109);
    box-shadow: 11px 11px 14px -1px rgb(109, 109, 109);
    margin: auto;
}

.sopraForm {
    height: 75px;
    display: flex;
}

.dentroSopra {
    font-size: 24px;
    margin: auto;
    padding-top: 20px;
}

.progressione {
    height: 40px;
}

.barra {
    margin: auto;
}

.veroForm {
    display: flex;
    flex-direction: row;
}

.dentroVero {
    margin: 25px 50px;
}

.contenitorePulsante {
    display: flex;
    height: 75px;
    justify-content: flex-end;
}

.pulsante {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 40px;
}

.sesso {
    display: flex;
    flex-direction: column;
}

.labelSesso {
    margin: 5px 0;
}

.mat-form-field {
    width: 220px;
}